node_modules
**/node_modules

dist
**/dist

coverage
**/coverage

.git
.gitignore
.husky

.vscode
.idea

.env
.env.*

.runs
.runs-test

*.log

README.md
docs
tests

evaluations/current.json
evaluations/comparison.json

project_whole_code_source.json
